body {
	background-image: url('https://bienbonita.com/wp-content/uploads/sites/4/2023/08/perfume_2045143781.jpg?w=4096');
    font-family: Didot, sans-serif;
    background-color: #84827A;
}


img {
    width: 20%; /* Cambié el 100% a 50% para reducir el tamaño */
    height: auto;
    display: block;
    margin: 0 auto; /* Añadido para centrar la imagen */
}

header {
	background-image: url('https://img.freepik.com/fotos-premium/fondo-negro-humo_410516-13908.jpg');
            color: #F3C51A;
            text-align: center;
            padding: 20px;
            width: 94%; /* Ajusta el valor según sea necesario */
            margin: 0 auto; /* Centra el footer horizontalmente en la página */

}



section {
            padding: 20px;
            background-image: url('https://img.freepik.com/premium-photo/perfume-with-floral-aroma-burst-generative-ai_74760-6636.jpg');
            color: black;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #F3C51A;
            margin: 20px;
            text-align: center;
        }


 form {
            width: 30%;
            margin: 10px;
            display: inline-block;
            vertical-align: top;
            color: red;
        }

footer {
	background-image: url('https://img.freepik.com/fotos-premium/conjunto-carteles-arrugados-papel-arrugado-arrugado-pegado-blanco-blanco_765496-31.jpg');
            color: #000;
            text-align: center;
            padding: 10px;
            width: 45%; /* Ajusta el valor según sea necesario */
            margin: 0 auto; /* Centra el footer horizontalmente en la página */
        }

footer img {
    height: 70px; /* Ajusta el valor según sea necesario */
    width: auto;   /* Mantiene la proporción original de la imagen */
}    